{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% load static %}

{% block content %}

{% if not object.shipping_address %}
<div class="container" style="padding-left: 180px; padding-top: 120px">
    <div class="card" style="width: 800px; margin-bottom: 80px;">
        <img src="{% static 'img/background2.jpg' %}" class="card-img-top" alt="Background">
        <h5 class="card-header text-center font-weight-light">Shipping Address</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {% url "checkout_address" as checkout_address %}
                    {% include 'addresses/address_form.html' with form=address_form action_url=checkout_address next_url=request.build_absolute_uri address_type='shipping' %}
                </div>
                <div class="col-md-6" align="center">
                    {% url "checkout_address_reuse" as checkout_address_reuse %}
                    {% include 'addresses/previous_addresses.html' with addresses=addresses action_url=checkout_address_reuse next_url=request.build_absolute_uri address_type='shipping' %}
                </div>
            </div>

        </div>
    </div>
</div>
{% elif not object.billing_address %}
<div class="container" style="padding-left: 180px; padding-top: 120px">
    <div class="card" style="width: 800px; margin-bottom: 80px;">
        <img src="{% static 'img/background2.jpg' %}" class="card-img-top" alt="Background">
        <h5 class="card-header text-center font-weight-light">Billing Address</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {% url "checkout_address" as checkout_address %}
                    {% include "addresses/address_form.html" with form=address_form action_url=checkout_address next_url=request.build_absolute_uri address_type='billing' %}
                </div>
                <div class="col-md-6" align="center">
                    {% url "checkout_address_reuse" as checkout_address_reuse %}
                    {% include "addresses/previous_addresses.html" with addresses=addresses action_url=checkout_address_reuse next_url=request.build_absolute_uri address_type='billing' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container text-center text-white" style="padding-top: 90px; padding-left: 180px;">
    <div class="card text-dark" style="width: 800px;">
        <img src="{% static 'img/background3.jpg' %}" class="card-img-top rounded" alt="Background"
             style="height: 350px;">
        <h1 class="card-header font-weight-light">Checkout</h1>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">Cart Items</th>
                    {% for item in items %}
                    <td><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="width: 100px;"></td>
                    {% if not forloop.last %}{% endif %}{% endfor %}
                </tr>
                <tr>
                    <th scope="row">Shipping Address</th>
                    <td colspan="{{ object.cart.items }}">{{ object.shipping_address.get_address }}</td>
                </tr>
                <tr>
                    <th scope="row">Billing Address</th>
                    <td colspan="{{ object.cart.items }}">{{ object.billing_address.get_address }}</td>
                </tr>
                <tr>
                    <th scope="row">Cart Total</th>
                    <td colspan="{{ object.cart.items }}">{{ object.cart.total }}</td>
                </tr>
                <tr>
                <tr>
                    <th scope="row">Shipping Total</th>
                    <td colspan="{{ object.cart.items }}">{{ object.shipping_total }}</td>
                </tr>
                <tr>
                    <th scope="row">Order Total</th>
                    <td colspan="{{ object.cart.items }}">{{ object.total }}</td>
                </tr>
                </tbody>
            </table>
            <form action="{% url 'checkout' %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-outline-success btn-lg" style="border-radius: 12px; width: 100px;" type="submit" value="Buy">
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock%}
