{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}

<div class="container text-center text-white" style="padding-top: 250px; margin-bottom: 180px;">
    <h1 class="mb-5 font-weight-light">Thank you for your order..!!</h1>
    <button onclick="function success() {sessionStorage.clear()} success();" class="btn btn-outline-success btn-lg mt-3">
        <a style="text-decoration: none; color: white;" href="{% url 'home' %}">Buy More Video Games</a>
    </button>
</div>

{% endblock %}